*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Balsamiq Sans', cursive;
}

p {
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.startButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 75px;
}

.endGameBtn {
    display:flexbox;
    align-items: center;
    justify-content: center;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 20px;
    margin: 20px;
}

#quiz-container{
    width: 800px;
    padding: 20px;
    background-color: white;
    border: red solid 2px;
}

#timer {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.highScoreList {
    font-size: 50px;
    margin-right: 50px;
    color: purple;
    list-style-type: none;
}